img{
	width: 86%;
	height: 80%;
	border: 5px solid #00A9E0;
}
.hi{
	width: 96%;
	height: 100%;
}
.container{
	background: #CCEEF9;
}
h2{
	background: #008ECE;
	color: black;
	text-align: center;
}
ol{
  font-weight: bold;
 }
li{
	font-weight: normal;
}
.col-md-9{
	background: #59C7EB;
}
.col-md-6{
	background: #A6E1F4;
}
.h3{
	width: 100%;
	height: 100%;
}
.karta{
	align-self: center;
	text-align: center;
	 text-align: center;
}